$border-radius-custom: 5px;

$principal-font: Tahoma, "Trebuchet MS", sans-serif;

$secondary-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

$base-background-color: blue;

$important-background-color:darkblue;

$warning-background-color: cyan;

$box-shadow:2px 5px 5px -1px black;
