$border-radius-custom: 5px;

.principal-font {
    font-family: Georgia, 'Times New Roman', Times, serif
}

.secondary-font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.base {
    background: blue;
}

.important {
    background: darkblue;
}

.warning {
    background: cyan;
}

.with-shadow {
    padding: 0px;  
    box-shadow: 2px 5px 5px -1px black;
}