$border-radius-custom: 0px;

$principal-font: 'Times New Roman', Times, serif;

$secondary-font: Verdana, Geneva, Tahoma, sans-serif;

$base-background-color: red;

$important-background-color:brown;

$warning-background-color: pink;

$box-shadow:-2px 2px 1px 1px black;
