body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;



    h3 {
        font-weight: 600;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: cadetblue;
        color: white;
        width: 1280px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        li {
            text-align: center;
            width: 100%;
            padding: 10px 0px;

            &:hover {
                background-color: darkslategray;
            }
        }

        &:hover {
            cursor: pointer;
        }

    }
}

@media (width <=1300px) {
    .nav-container {
        ul {
            width: 800px;
        }
    }

}


@media (width <=800px) {
    .nav-container {
        ul {
            flex-direction: column;
            width: 500px;
        }
    }

}